table {
	width: 80%;
	font-size: 1.5em;
	
	margin: 2em auto;
	margin-top: 3em;
	margin-bottom: 0;
	border-collapse: collapse;
	
	@media screen and (max-width: 1024px) {
		width: 100%;
	}
}

th {
	font-weight: bold;
}

td, th {
	border-right: 1px solid white;
	width: 33%;
}

td:last-child, th:last-child {
	border-right-width: 0;
}

td {
	text-align: center;
	
	span {
		border-radius: 0.4em;
		border-width: 2px;
		border: 1px solid white;
		padding: .2em .5em;
	}
}

@media screen and (max-width: 800px) {
	table,
	thead,
	tbody,
	th,
	td,
	tr {
		display: block;
	}
	
	table {
		margin-bottom: 2em;
	}
	
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	td { 
		border: none;
		border-bottom: 1px solid white; 
		position: relative;
		text-align:center;
		
		width: 13em;
		margin: 0 auto;
		
		padding-top: 3em;
		padding-bottom: 1em;

	}
	
	td:before {
		content: attr(data-title);
		width: 100%;
		
		top: 1em;
		left: 0;
		
		text-align: center;
		position: absolute;

		white-space: nowrap;
		font-weight: bold;
	}
	
	ul {
		margin-top: 0;
		margin-bottom: 0;
		
		width: 100%;
	}
	
	li {
		text-align: center;
	}
	
	li:last-child {
		margin-bottom: 0;
	}
	
	footer {
		p {
			float: none;
			width: 100%;
			
			text-align: center;
		}
		
		p:first-child {
			margin-bottom: .5em;
		}
		
		p:last-child {
			margin-top: .5em;
		}
	}
}